/* src/Title.css */
.PageHeader {
    box-sizing: border-box;
    width: 100%;
    padding: 1em;
    margin-bottom: 2em;
    background-color: rgb(0, 0, 0);
    color: #fff;
}

.PageHeader-Subtitle {
    color: rgba(255, 255, 255, 0.75);
}

.PageHeader .nav-link {
    display: inline-block;
    padding: 0.5em 1em;
    color: rgba(255, 255, 255, 0.835);
    font-weight: bold;
    text-decoration: none;
}

.PageHeader .nav-link-active {
    color: #fff;
    border-bottom: 2px solid;
}