.PLACESSpace {
    width: 100%;
    text-align: center;
}
  
.PLACESSpace > img {
    width: 500px;
    height: 300px
}

.hours {
    font-style: italic;
    font-size: small;
    font-family: 'Courier New', Courier, monospace;
}